<div class=" w-4/12 justify-center mx-auto p-11 sm:mt-14 shadow-2xl rounded-2xl ">
    <h3 class="animate-text bg-gradient-to-r mt-5 from-teal-500 via-purple-500 to-orange-500 bg-clip-text text-transparent text-3xl font-black text-center">Login</h3>
    <form [formGroup]="loginForm" class="flex flex-col">
        <div class="flex flex-col mt-4 mb-1" >
            <input formControlName="email" class ="p-2 border border-emerald-300 rounded-3xl "type="text" placeholder="Email">
            <span *ngIf="loginForm.hasError('required', 'email') && loginForm.controls['email'].dirty" class="text-red-600">*Email is Required</span>
            <span *ngIf="loginForm.hasError('email', 'email')" class="text-red-600">*Email is Invalid</span>
        </div>
        <div class="flex flex-col mt-4 mb-1" >
            <input formControlName="password" class ="p-2 border border-emerald-300 rounded-3xl "type="password" placeholder="Password">
            <span *ngIf="loginForm.hasError('required', 'password') && loginForm.controls['password'].dirty" class="text-red-600">*Password is Required</span>
        </div>

        <button [disabled]="loginForm.invalid" [class.disabled]="loginForm.invalid" (click)="login()" class="transition delay-150 duration-300 ease-in-out bg-lime-500 p-2 rounded mt-3 text-yellow-200">LOGIN</button>
    </form>
    <div class="flex justify-between mt-3">
        <a [routerLink] ="['/forget']" class="cursor-pointer font-bold text-indigo-950 ml-2">Forget Password</a>
        <a [routerLink] ="['/register']" class="cursor-pointer font-bold text-indigo-950 ml-2">Register as Customer</a>
        <a [routerLink] ="['/registeradmin']" class="cursor-pointer font-bold text-indigo-950 ml-2">Register as Farmer</a>
    </div>

</div>