<nav class="w-full flex justify-between items-center bg-green-950 shadow-xl mb-5">
    <div class="logo">
        <span [routerLink] ="['/home']" class="text-white text-4xl m-3 flex justify-start items-center cursor-pointer " >FarmGrow</span>
    </div>
    <div>
            <span [routerLink] ="['/home']" class="text-xl cursor-pointer text-white font-bold m-5 hover:text-blue-400">Home</span>    
            <span [routerLink]="['/checkout']" class="text-xl cursor-pointer text-white font-bold m-5 hover:text-blue-400">Cart</span>
    </div>
</nav>