<app-header />
<div class="image-container">
    <div *ngFor="let value of products | async" class="card">
      <!--<img src="https://th.bing.com/th/id/OIP.FbcWv0KaBUXsgIEBeNr_5wHaEK?rs=1&pid=ImgDetMain" alt="Avatar" style="width:100%">
       <!-- Generating image URL dynamically based on the product name -->
       <img [src]="getImageUrl(value.productname)" alt="Product Image" style="width:100%">


      <div class="container">
        <h4 >Product Name : <b>{{value.productname}}</b></h4>
        <h3 >Price/ lb : $<b>{{value.price}}</b></h3>
        <br>
        <button (click)=addtocart(value) class="add-to-cart">
          Add to Cart
       </button>
      </div>
    </div>
  </div>
  
  
  