.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 3%;
  }

.cart-icon{
    cursor: pointer;
  }
  
  
  .card {
    width: 15%; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust spacing between rows */
    box-sizing: border-box;
  }
  
  img {
    width: 8%;
    height: 70%;
    border-radius: 100%;
  }
  
  .container{
    text-align: center;
  }
  