/* profiles.component.scss */

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
}


.card {
  width: 40%; /* Adjust as needed */
  margin-bottom: 40px; /* Adjust spacing between rows */
  box-sizing: border-box;
  margin-left: 10px;
}

img {
  width: 10%;
  height: 70%;
  border-radius: 10%;
}

.container{
  text-align: center;
}
