<div class=" w-4/12 justify-center mx-auto p-10 mt-30 shadow-2xl rounded-2xl ">
    <h3 class="animate-text bg-gradient-to-r from-teal-500 via-purple-500 to-orange-500 bg-clip-text text-transparent text-3xl font-black text-center">Change Password</h3>
    <form [formGroup]="resetForm" class="flex flex-col">
        <div class="flex flex-col mt-4 mb-1" >
            <input formControlName="password" class ="p-2 border border-emerald-300 rounded-3xl "type="password" placeholder="Password">
            <span *ngIf="resetForm.hasError('required', 'password') && resetForm.controls['password'].dirty" class="text-red-600">*Password is Required</span>
        </div>
        <div class="flex flex-col mt-4 mb-1" >
            <input formControlName="confirmPassword" class ="p-2 border border-emerald-300 rounded-3xl "type="password" placeholder="Confirm Password">
            <span *ngIf="resetForm.hasError('required', 'confirmPassword') && resetForm.controls['confirmPassword'].dirty" class="text-red-600">*ConfirmPassword is Required</span>
            <span *ngIf="resetForm.hasError('confirmPasswordValidator', 'confirmPassword')" class="text-red-600">*ConfirmPassword is Not Matched</span>
        </div>
        <button [disabled]="resetForm.invalid" [class.disabled]="resetForm.invalid"  (click)= "submit()" class="transition delay-150 duration-300 ease-in-out bg-lime-500 p-2 rounded mt-3 text-yellow-200">Change Password</button>
    </form>

</div>